@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --accent: #918450;
    --dark-mode-bg: #2f2f2f;
    --dark-mode-text: #e2e2e2;
    --bio-box-bg: #d8d4d5;
    --light-mode-text: #2f2f2f;
    --light-mode-accent: #2f2f2f;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', serif;
    font-size: 16pt;
}

.wrapper {
    width: 700px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.screen-mode-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.screen-mode-section p {
    font-size: 1.5rem;
}

.search-bar {
    position: relative;
}

input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    border: 2px solid black;
    border-radius: 15px;
    font: inherit;
    height: 65px;
    padding-left: 55px;
    caret-color: var(--accent);
}

input:focus {
    outline: none;
}

.search-btn {
    position: absolute;
    bottom: 8px;
    right: 25px;

    border-radius: 15px;
    height: 50px;
    padding: 0px 20px;
    background-color: var(--accent);
    color: var(--dark-mode-text);
    font-size: 1.2rem;
    font: inherit;
}


.search-icon {
    position: absolute;
    bottom: 12px;
    left: 10px;
    height: 40px;
}

#screen-mode-btn {
    background: none ;
    border: none;
    height: 50px;
    cursor: pointer;
}

.screen-mode-icon {
    height: 40px;
}