@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --accent: #918450;
    --dark-mode-bg: #2f2f2f;
    --dark-mode-text: #e2e2e2;
    --bio-box-bg: #d8d4d5;
    --light-mode-text: #2f2f2f;
    --light-mode-accent: #2f2f2f;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', serif;
    font-size: 16pt;
}

.wrapper {
    width: 900px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 10px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
}

.screen-mode-section {
    display: flex;
    gap: 10px;
    align-items: center;
}

.screen-mode-section p {
    font-size: 1.5rem;
}

.search-bar {
    position: relative;
}

input {
    box-sizing: border-box;
    padding: 12px 20px;
    width: 100%;
    background: none;
    box-shadow: 10px 5px 5px gray;
    border: 0.5px solid gray;
    border-radius: 15px;
    font: inherit;
    height: 65px;
    padding-left: 55px;
    caret-color: var(--accent);
    
}

input:focus {
    outline: none;
}

.search-btn {
    position: absolute;
    bottom: 8px;
    right: 25px;

    border-radius: 15px;
    height: 50px;
    padding: 0px 20px;
    background-color: var(--accent);
    color: var(--dark-mode-text);
    font-size: 1.2rem;
    font: inherit;
}


.search-icon {
    position: absolute;
    bottom: 12px;
    left: 10px;
    height: 40px;
}

#screen-mode-btn {
    background: none ;
    border: none;
    height: 50px;
    cursor: pointer;
}

.screen-mode-icon {
    height: 40px;
}

.results-container {
    width: 100%;
    box-shadow: 10px 5px 5px 5px gray;
    border: 0.5px solid gray;
    border-radius: 15px;
    margin: 5rem 0;

    display: grid;
    grid-template-areas: 
    'pic header'
    'pic content'
    'pic socials';
    
}

aside {
    margin: 0 auto;
    grid-area: pic;
}

aside img {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin-top: 1rem;
}

.results-heading {
    margin-top: 1rem;
    grid-area: header;
    display: flex;
    justify-content: space-around;
}

.profile-handle, .username {
    margin: 0;
}

.profile-handle {
    color: var(--accent);
}

.bio {
    grid-area: content;
    margin: 1rem auto;
}

textarea {
    width: 90%;
    font-family: inherit;
    border: none;
    height: 100px;
    text-indent: 0;
}

textarea:focus {
    outline: none;
}

.repos-following {
    width: 90%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 15px;
    background-color: lightgray;
    margin: 2rem 0;
}

.repos, .followers, .following {
    display: flex;
    flex-direction: column;
    row-gap: 0;
}

.repos-following-title {
    margin-bottom: 0;
}

.numbers {
    text-align: center;
}

.socials-container {
    font-size: 1rem;
    grid-area: socials;
    display: grid;
    grid-template-areas: 
    'location twitter'
    'link website';
    margin-bottom: 2rem;
}

.inner-grid {
    width: 100%;
    font-size: 1rem;
}

.location-container {
    grid-area: location;
}

.twitter-container {
    grid-area: twitter;
}

.link-container {
    grid-area: link;
}

.website-container {
    grid-area: website;
}

.location-container, .twitter-container, .link-container, .website-container {
    display: flex;
    column-gap: 0.5rem;
}

footer {
    margin: auto auto 1.5rem;
    font-size: 1rem;
    justify-content: baseline;
}